*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #ffffff;
    flex-direction: column;

}
h1{
    line-height: 100px;
}
#clocks{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    flex-direction: column;

}
.container{
    position: relative;
}
.clock{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0px 0px 30px rgb(0,0,0, 1);
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg* var(--i)));
    inset: 10px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height: 70px;
    border-radius: 8px;
}
.heading{
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Digital Clock */
.clockDigi{
    min-height: 40vh;
}
.clockformat{
    background: url(./images/bcg_format_clock.jpg) no-repeat;
    background-size: cover;
    width: 25em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: ; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.7);

    }
#time{
    color: rgba(0, 9, 10, 0.87);
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 10px;
}
.clockformat span{
    position: relative;
    right: 15%;
    top: -13%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}














.stopWatch{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.stopwatch{
    background-color: rgba(65, 56, 66, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
    width: 20em;
}
.timerDisplay{
    font-size: 50px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}
.buttons{
    margin-top: 20px;
    margin-bottom: 100px;
}
.btn{
    font-size: 30px;
    color: rgb(250, 248, 248);
    border: none;
    background: none;
    /* align-items: center;
    justify-content: center; */
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 2px;
    border-radius: 12px;
    cursor: pointer;
}